In [4]:
import pandas as pd
filename = 'data/modified_final_df.csv'
modified_final_df = pd.read_csv(filename, sep=',', index_col=0)

In [5]:
modified_final_df

,DateTime,CUSTOMER,AREA,ISPRIVATEPERSON,Power_Consumption,One_Day_Power,One_Day_Power_NaN,Air Temperature 1 Min_P19,Air Temperature 2 Max_P27,Air Temperature 2 Min_P26,Dew Point Temperature_P39,Precipitation_P7,Relative Humidity_P6,Wind Speed_P4,Price
0,2020-01-01 00:00:00,1060598736,Kvarnholmen,Nej,0.011200,0.260400,0,NaN,NaN,NaN,-2.4,NaN,80.0,5.0,28.45
1,2020-01-01 00:00:00,1060753918,Malmen,Nej,0.001797,0.054926,0,NaN,NaN,NaN,-2.4,NaN,80.0,5.0,28.45
2,2020-01-01 00:00:00,1060753924,Malmen,Nej,0.021600,0.564000,0,NaN,NaN,NaN,-2.4,NaN,80.0,5.0,28.45
3,2020-01-01 00:00:00,1060753932,Malmen,Nej,0.004122,0.107658,0,NaN,NaN,NaN,-2.4,NaN,80.0,5.0,28.45
4,2020-01-01 00:00:00,1060753945,Malmen,Nej,0.001120,0.027033,0,NaN,NaN,NaN,-2.4,NaN,80.0,5.0,28.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91068427,2023-12-31 23:00:00,1060619147,Malmen,Ja,0.000101,0.003008,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
91068428,2023-12-31 23:00:00,1060619139,Malmen,Nej,0.000028,0.000687,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
91068429,2023-12-31 23:00:00,1060619133,Malmen,Ja,0.000071,0.004211,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
91068430,2023-12-31 23:00:00,1060619347,Malmen,Ja,0.000376,0.017268,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
91068431,2023-12-31 23:00:00,2411372971,Malmen,Nej,0.000000,0.000000,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56

# Descriptive Statistics of data: Check if all the features we want has the same count (9.106843e+07) for training model.

In [6]:
!pip install tabulate

Requirement already satisfied: tabulate in /opt/homebrew/lib/python3.11/site-packages (0.9.0)

In [7]:
from tabulate import tabulate

# description = modified_final_df.describe(include='all')
columns_of_interest = ['Power_Consumption', 'One_Day_Power_NaN', 'Dew Point Temperature_P39', 'Relative Humidity_P6', 'Wind Speed_P4', 'Price']
description = modified_final_df[columns_of_interest].describe()
print(tabulate(description, headers='keys', tablefmt='psql'))

+-------+---------------------+---------------------+-----------------------------+------------------------+-----------------+---------------+
|       |   Power_Consumption |   One_Day_Power_NaN |   Dew Point Temperature_P39 |   Relative Humidity_P6 |   Wind Speed_P4 |         Price |
|-------+---------------------+---------------------+-----------------------------+------------------------+-----------------+---------------|
| count |         9.10684e+07 |         9.10684e+07 |                 9.10684e+07 |            9.10684e+07 |     9.10684e+07 |   9.10684e+07 |
| mean  |         0.00278913  |         0.00139728  |                 5.1097      |           82.6636      |     3.50833     |  82.823       |
| std   |         0.0238413   |         0.143249    |                 6.49065     |           16.5593      |     2.08595     |  88.7804      |
| min   |         0           |         0           |               -20.7         |           13           |     0           | -60.04        |
| 25%   |         9.7e-05     |         0           |                 0.8         |           75           |     2           |  24.27        |
| 50%   |         0.000277    |         0           |                 4.8         |           88           |     3           |  59.31        |
| 75%   |         0.001299    |         0           |                10           |           95           |     5           | 109.61        |
| max   |         2.98964     |        21           |                21.4         |          100           |    18           | 799.97        |
+-------+---------------------+---------------------+-----------------------------+------------------------+-----------------+---------------+

In [8]:
# Find the record with the minimum Price value (-60.04 euro/MWh is on 2023-07-16 at 12:00:00)
min_price_record = modified_final_df[modified_final_df['Price'] == modified_final_df['Price'].min()]

# Display the record(s) with the minimum price value
print(min_price_record)

                     DateTime    CUSTOMER         AREA ISPRIVATEPERSON  \
63631188  2023-07-16 12:00:00  1060848577       Malmen              Ja
63631189  2023-07-16 12:00:00  1877710264       StensÃ¶              Ja
63631190  2023-07-16 12:00:00  1060679400        Berga              Ja
63631191  2023-07-16 12:00:00  1060849348  Kvarnholmen              Ja
63631192  2023-07-16 12:00:00  1060869781       Malmen              Ja
...                       ...         ...          ...             ...
63637914  2023-07-16 12:00:00  1060604614  Kvarnholmen             Nej
63637915  2023-07-16 12:00:00  1060620245       Malmen              Ja
63637916  2023-07-16 12:00:00  1060620219       Malmen              Ja
63637917  2023-07-16 12:00:00  1060678681        Berga              Ja
63637918  2023-07-16 12:00:00  1060658586        Berga              Ja

          Power_Consumption  One_Day_Power  One_Day_Power_NaN  \
63631188           0.000091       0.002573                  0
63631189           0.000000       0.000000                  0
63631190           0.000466       0.007801                  0
63631191           0.000152       0.006690                  0
63631192           0.000140       0.004701                  0
...                     ...            ...                ...
63637914           0.000828       0.005930                  0
63637915           0.000983       0.017134                  0
63637916           0.000377       0.007951                  0
63637917           0.000000       0.021491                  0
63637918           0.000667       0.012997                  0

          Air Temperature 1 Min_P19  Air Temperature 2 Max_P27  \
63631188                        NaN                        NaN
63631189                        NaN                        NaN
63631190                        NaN                        NaN
63631191                        NaN                        NaN
63631192                        NaN                        NaN
...                             ...                        ...
63637914                        NaN                        NaN
63637915                        NaN                        NaN
63637916                        NaN                        NaN
63637917                        NaN                        NaN
63637918                        NaN                        NaN

          Air Temperature 2 Min_P26  Dew Point Temperature_P39  \
63631188                        NaN                       11.1
63631189                        NaN                       11.1
63631190                        NaN                       11.1
63631191                        NaN                       11.1
63631192                        NaN                       11.1
...                             ...                        ...
63637914                        NaN                       11.1
63637915                        NaN                       11.1
63637916                        NaN                       11.1
63637917                        NaN                       11.1
63637918                        NaN                       11.1

          Precipitation_P7  Relative Humidity_P6  Wind Speed_P4  Price
63631188               NaN                  44.0            7.0 -60.04
63631189               NaN                  44.0            7.0 -60.04
63631190               NaN                  44.0            7.0 -60.04
63631191               NaN                  44.0            7.0 -60.04
63631192               NaN                  44.0            7.0 -60.04
...                    ...                   ...            ...    ...
63637914               NaN                  44.0            7.0 -60.04
63637915               NaN                  44.0            7.0 -60.04
63637916               NaN                  44.0            7.0 -60.04
63637917               NaN                  44.0            7.0 -60.04
63637918               NaN                  44.0            7.0 -60.04

[6731 rows x 15 columns]

In [9]:
# Find the record with the maximum Price value (799.97 euro/MWh is on 2022-08-30 at 17:00:00))
max_price_record = modified_final_df[modified_final_df['Price'] == modified_final_df['Price'].max()]

# Display the record(s) with the maximum price value
print(max_price_record)

                     DateTime    CUSTOMER         AREA ISPRIVATEPERSON  \
20257955  2022-08-30 17:00:00  1060698879        Berga             Nej
20257956  2022-08-30 17:00:00  1060639002       Malmen             Nej
20257957  2022-08-30 17:00:00  2150492549        Berga              Ja
20257958  2022-08-30 17:00:00  1903636934  Varvsholmen             Nej
20257959  2022-08-30 17:00:00  1060680444        Berga              Ja
...                       ...         ...          ...             ...
20258977  2022-08-30 17:00:00  2189091188       Malmen             Nej
20258978  2022-08-30 17:00:00  1877651141       StensÃ¶             Nej
20258979  2022-08-30 17:00:00  1060703532        Berga              Ja
20258980  2022-08-30 17:00:00  1060703200        Berga              Ja
20258981  2022-08-30 17:00:00  1060609140  Kvarnholmen              Ja

          Power_Consumption  One_Day_Power  One_Day_Power_NaN  \
20257955           0.004668       0.298880                  0
20257956           0.001610       0.050000                  0
20257957           0.000791       0.049161                  0
20257958           0.008821       0.062517                  0
20257959           0.002460       0.019890                  0
...                     ...            ...                ...
20258977           0.000000       0.000000                  0
20258978           0.000000       0.000000                  0
20258979           0.000934       0.016388                  0
20258980           0.000501       0.016838                  0
20258981           0.000347       0.003829                  0

          Air Temperature 1 Min_P19  Air Temperature 2 Max_P27  \
20257955                        NaN                        NaN
20257956                        NaN                        NaN
20257957                        NaN                        NaN
20257958                        NaN                        NaN
20257959                        NaN                        NaN
...                             ...                        ...
20258977                        NaN                        NaN
20258978                        NaN                        NaN
20258979                        NaN                        NaN
20258980                        NaN                        NaN
20258981                        NaN                        NaN

          Air Temperature 2 Min_P26  Dew Point Temperature_P39  \
20257955                        NaN                       11.0
20257956                        NaN                       11.0
20257957                        NaN                       11.0
20257958                        NaN                       11.0
20257959                        NaN                       11.0
...                             ...                        ...
20258977                        NaN                       11.0
20258978                        NaN                       11.0
20258979                        NaN                       11.0
20258980                        NaN                       11.0
20258981                        NaN                       11.0

          Precipitation_P7  Relative Humidity_P6  Wind Speed_P4   Price
20257955               NaN                  68.0            1.0  799.97
20257956               NaN                  68.0            1.0  799.97
20257957               NaN                  68.0            1.0  799.97
20257958               NaN                  68.0            1.0  799.97
20257959               NaN                  68.0            1.0  799.97
...                    ...                   ...            ...     ...
20258977               NaN                  68.0            1.0  799.97
20258978               NaN                  68.0            1.0  799.97
20258979               NaN                  68.0            1.0  799.97
20258980               NaN                  68.0            1.0  799.97
20258981               NaN                  68.0            1.0  799.97

[1027 rows x 15 columns]

In [10]:
# Count the number of records with a negative price
negative_price_count = (modified_final_df['Price'] < 0).sum()

print(f'Number of records with a negative price: {negative_price_count}')

Number of records with a negative price: 2619732

In [11]:
# Remove records with a negative price.
modified_final_df = modified_final_df[modified_final_df['Price'] >= 0]

# Save the cleaned dataset to a new CSV file, if needed.
modified_final_df.to_csv('data/modified_final_df_negativePricesRemoved.csv', index=False)

print("Records with negative prices have been removed.")

Records with negative prices have been removed.

In [12]:
modified_final_df.shape[0]

88448700

In [13]:
modified_final_df

,DateTime,CUSTOMER,AREA,ISPRIVATEPERSON,Power_Consumption,One_Day_Power,One_Day_Power_NaN,Air Temperature 1 Min_P19,Air Temperature 2 Max_P27,Air Temperature 2 Min_P26,Dew Point Temperature_P39,Precipitation_P7,Relative Humidity_P6,Wind Speed_P4,Price
0,2020-01-01 00:00:00,1060598736,Kvarnholmen,Nej,0.011200,0.260400,0,NaN,NaN,NaN,-2.4,NaN,80.0,5.0,28.45
1,2020-01-01 00:00:00,1060753918,Malmen,Nej,0.001797,0.054926,0,NaN,NaN,NaN,-2.4,NaN,80.0,5.0,28.45
2,2020-01-01 00:00:00,1060753924,Malmen,Nej,0.021600,0.564000,0,NaN,NaN,NaN,-2.4,NaN,80.0,5.0,28.45
3,2020-01-01 00:00:00,1060753932,Malmen,Nej,0.004122,0.107658,0,NaN,NaN,NaN,-2.4,NaN,80.0,5.0,28.45
4,2020-01-01 00:00:00,1060753945,Malmen,Nej,0.001120,0.027033,0,NaN,NaN,NaN,-2.4,NaN,80.0,5.0,28.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91068427,2023-12-31 23:00:00,1060619147,Malmen,Ja,0.000101,0.003008,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
91068428,2023-12-31 23:00:00,1060619139,Malmen,Nej,0.000028,0.000687,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
91068429,2023-12-31 23:00:00,1060619133,Malmen,Ja,0.000071,0.004211,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
91068430,2023-12-31 23:00:00,1060619347,Malmen,Ja,0.000376,0.017268,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56
91068431,2023-12-31 23:00:00,2411372971,Malmen,Nej,0.000000,0.000000,0,NaN,NaN,NaN,4.8,NaN,88.0,3.0,29.56

In [9]:
# Select only the columns you're interested in to show in table and not all.
columns_of_interest = ['Power_Consumption', 'One_Day_Power_NaN', 'Dew Point Temperature_P39', 'Relative Humidity_P6', 'Wind Speed_P4', 'Price']
description = modified_final_df[columns_of_interest].describe()

# Print the description using tabulate for a nicer format.
print(tabulate(description, headers='keys', tablefmt='psql'))

+-------+---------------------+---------------------+-----------------------------+------------------------+-----------------+---------------+
|       |   Power_Consumption |   One_Day_Power_NaN |   Dew Point Temperature_P39 |   Relative Humidity_P6 |   Wind Speed_P4 |         Price |
|-------+---------------------+---------------------+-----------------------------+------------------------+-----------------+---------------|
| count |         8.84487e+07 |         8.84487e+07 |                 8.84487e+07 |            8.84487e+07 |     8.84487e+07 |   8.84487e+07 |
| mean  |         0.00283101  |         0.00143822  |                 4.98877     |           82.8218      |     3.45886     |  85.3522      |
| std   |         0.0238884   |         0.145335    |                 6.49755     |           16.4917      |     2.04917     |  88.8381      |
| min   |         0           |         0           |               -20.7         |           13           |     0           |   0           |
| 25%   |         9.8e-05     |         0           |                 0.7         |           75           |     2           |  26.3         |
| 50%   |         0.000282    |         0           |                 4.8         |           88           |     3           |  61.39        |
| 75%   |         0.001335    |         0           |                 9.8         |           95           |     5           | 111.26        |
| max   |         2.98964     |        21           |                21.4         |          100           |    18           | 799.97        |
+-------+---------------------+---------------------+-----------------------------+------------------------+-----------------+---------------+

# 3 Sigma rule for removing records with very high (not logical) price values. NOT SURE IF I SHOULD APPLY IT OR SHOULD I APPLY IT ONLY ON RESIDENTIAL RECORDS?

In [22]:
 #Calculate the mean and standard deviation of the prices.
mean_price = modified_final_df['Price'].mean()
std_price = modified_final_df['Price'].std()

# Define the upper threshold using the 3-sigma rule.
upper_limit = mean_price + (3 * std_price)

# Filter out the records where the price is greater than the upper limit.
modified_final_df = modified_final_df[modified_final_df['Price'] <= upper_limit]

# Save the filtered dataset to a new CSV file, if needed.
modified_final_df.to_csv('data/modified_final_df_negativePricesRemovedAnd3SigmaApplied.csv', index=False)

print(f"Records with prices higher than 3 standard deviations from the mean have been removed.")

Records with prices higher than 3 standard deviations from the mean have been removed.

In [20]:
modified_final_df.shape[0]

86342750

In [23]:
# Select only the columns you're interested in to show in table and not all.
columns_of_interest = ['Power_Consumption', 'One_Day_Power_NaN', 'Dew Point Temperature_P39', 'Relative Humidity_P6', 'Wind Speed_P4', 'Price']
description = modified_final_df[columns_of_interest].describe()

# Print the description using tabulate for a nicer format.
print(tabulate(description, headers='keys', tablefmt='psql'))

+-------+---------------------+---------------------+-----------------------------+------------------------+-----------------+---------------+
|       |   Power_Consumption |   One_Day_Power_NaN |   Dew Point Temperature_P39 |   Relative Humidity_P6 |   Wind Speed_P4 |         Price |
|-------+---------------------+---------------------+-----------------------------+------------------------+-----------------+---------------|
| count |         8.35861e+07 |         8.35861e+07 |                 8.35861e+07 |            8.35861e+07 |     8.35861e+07 |   8.35861e+07 |
| mean  |         0.00280887  |         0.00134782  |                 5.22866     |           82.4123      |     3.50136     |  69.115       |
| std   |         0.0242199   |         0.140716    |                 6.38483     |           16.6602      |     2.05896     |  54.3972      |
| min   |         0           |         0           |               -20.7         |           13           |     0           |   0           |
| 25%   |         9.7e-05     |         0           |                 1           |           75           |     2           |  24.99        |
| 50%   |         0.000279    |         0           |                 4.8         |           88           |     3           |  56.94        |
| 75%   |         0.001316    |         0           |                10.1         |           95           |     5           | 101.91        |
| max   |         2.98964     |        21           |                21.4         |          100           |    18           | 245.47        |
+-------+---------------------+---------------------+-----------------------------+------------------------+-----------------+---------------+