In [ ]:
!pip install pandas

## Data Consolidation: combine the five CSV files into a single dataset. Add a 'YEAR' column to keep track of the year each record is from.

In [ ]:
import pandas as pd

# Step 1: Read all CSV files into DataFrames
df_2020 = pd.read_csv('lnu_2020.csv')
df_2021 = pd.read_csv('lnu_2021.csv', sep=';')
df_2022 = pd.read_csv('lnu_2022.csv')
df_2023_1 = pd.read_csv('lnu_2023_h1.csv')
df_2023_2 = pd.read_csv('lnu_2023_h2.csv')

In [ ]:

# Step 2: Rename columns for the 2023 datasets
df_2023_1.columns = df_2023_1.columns.str.replace('VALUE_', 'HOUR_')
df_2023_2.columns = df_2023_2.columns.str.replace('VALUE_', 'HOUR_')

df_2023_1 = df_2023_1.rename(columns={'ID_FROM_DATE': 'DATE'})
df_2023_2 = df_2023_2.rename(columns={'ID_FROM_DATE': 'DATE'})

# Combine the two 2023 DataFrames
df_2023 = pd.concat([df_2023_1, df_2023_2])

In [ ]:
# Step 3: Create the 'ISPRIVATEPERSON' feature for the 2021 dataset
# Assuming the 'ISPRIVATEPERSON' feature is binary ('yes' or 'no')

# First, create a mapping from the 'CUSTOMER' to 'ISPRIVATEPERSON' from other years
isp_mapping = pd.concat([df_2020, df_2022, df_2023]).drop_duplicates('CUSTOMER').set_index('CUSTOMER')['ISPRIVATEPERSON']


# Then, map this to the 2021 DataFrame and handle missing values (if any)
df_2021['ISPRIVATEPERSON'] = df_2021['CUSTOMER'].map(isp_mapping)

# Handle customers in 2021 that aren't in other years, if needed
# For example, you could fill missing values with 'no'
df_2021['ISPRIVATEPERSON'] = df_2021['ISPRIVATEPERSON'].fillna('no')

# Then, map this to the 2021 DataFrame
df_2021['ISPRIVATEPERSON'] = df_2021['CUSTOMER'].map(isp_mapping)

In [ ]:
print(df_2023.columns)

Index(['CUSTOMER', 'AREA', 'ISPRIVATEPERSON', 'DATE', 'HOUR_0', 'HOUR_1',
       'HOUR_2', 'HOUR_3', 'HOUR_4', 'HOUR_5', 'HOUR_6', 'HOUR_7', 'HOUR_8',
       'HOUR_9', 'HOUR_10', 'HOUR_11', 'HOUR_12', 'HOUR_13', 'HOUR_14',
       'HOUR_15', 'HOUR_16', 'HOUR_17', 'HOUR_18', 'HOUR_19', 'HOUR_20',
       'HOUR_21', 'HOUR_22', 'HOUR_23'],
      dtype='object')

In [ ]:
print(df_2022.columns)

Index(['CUSTOMER', 'AREA', 'ISPRIVATEPERSON', 'DATE', 'HOUR_0', 'HOUR_1',
       'HOUR_2', 'HOUR_3', 'HOUR_4', 'HOUR_5', 'HOUR_6', 'HOUR_7', 'HOUR_8',
       'HOUR_9', 'HOUR_10', 'HOUR_11', 'HOUR_12', 'HOUR_13', 'HOUR_14',
       'HOUR_15', 'HOUR_16', 'HOUR_17', 'HOUR_18', 'HOUR_19', 'HOUR_20',
       'HOUR_21', 'HOUR_22', 'HOUR_23'],
      dtype='object')

In [ ]:
print(df_2021.columns)

Index(['CUSTOMER', 'AREA', 'DATE', 'HOUR_0', 'HOUR_1', 'HOUR_2', 'HOUR_3',
       'HOUR_4', 'HOUR_5', 'HOUR_6', 'HOUR_7', 'HOUR_8', 'HOUR_9', 'HOUR_10',
       'HOUR_11', 'HOUR_12', 'HOUR_13', 'HOUR_14', 'HOUR_15', 'HOUR_16',
       'HOUR_17', 'HOUR_18', 'HOUR_19', 'HOUR_20', 'HOUR_21', 'HOUR_22',
       'HOUR_23', 'ISPRIVATEPERSON'],
      dtype='object')

In [ ]:
print(df_2020.columns)

Index(['CUSTOMER', 'AREA', 'ISPRIVATEPERSON', 'DATE', 'HOUR_0', 'HOUR_1',
       'HOUR_2', 'HOUR_3', 'HOUR_4', 'HOUR_5', 'HOUR_6', 'HOUR_7', 'HOUR_8',
       'HOUR_9', 'HOUR_10', 'HOUR_11', 'HOUR_12', 'HOUR_13', 'HOUR_14',
       'HOUR_15', 'HOUR_16', 'HOUR_17', 'HOUR_18', 'HOUR_19', 'HOUR_20',
       'HOUR_21', 'HOUR_22', 'HOUR_23'],
      dtype='object')

In [ ]:
# Step 4: Add a 'YEAR' column and concatenate DataFrames
df_2020['YEAR'] = 2020
df_2021['YEAR'] = 2021
df_2022['YEAR'] = 2022
df_2023['YEAR'] = 2023

# Concatenate all DataFrames into one and reset the index
combined_df = pd.concat([df_2020, df_2021, df_2022, df_2023], ignore_index=True)

# Verify the combined DataFrame
print(combined_df.head())

     CUSTOMER         AREA ISPRIVATEPERSON        DATE HOUR_0 HOUR_1 HOUR_2  \
0  1060598736  Kvarnholmen             Nej  2020-01-01  0.011  0.012  0.012
1  1060598736  Kvarnholmen             Nej  2020-01-02   0.01  0.009  0.009
2  1060598736  Kvarnholmen             Nej  2020-01-03  0.011  0.011  0.011
3  1060598736  Kvarnholmen             Nej  2020-01-04   0.01  0.009  0.009
4  1060598736  Kvarnholmen             Nej  2020-01-05  0.011  0.011   0.01

  HOUR_3 HOUR_4 HOUR_5  ... HOUR_15 HOUR_16 HOUR_17 HOUR_18 HOUR_19 HOUR_20  \
0  0.012  0.013  0.012  ...    0.01   0.009    0.01    0.01   0.011   0.011
1  0.009   0.01  0.009  ...   0.009   0.009    0.01    0.01   0.009   0.011
2   0.01   0.01   0.01  ...    0.01    0.01   0.011   0.011   0.011   0.011
3  0.009   0.01  0.009  ...   0.011   0.011   0.012   0.008   0.009   0.011
4  0.011  0.011  0.011  ...   0.012   0.011   0.012   0.011   0.012   0.011

  HOUR_21 HOUR_22 HOUR_23  YEAR
0   0.011    0.01    0.01  2020
1   0.011   0.011    0.01  2020
2    0.01    0.01   0.011  2020
3   0.012   0.011   0.011  2020
4   0.011   0.011   0.011  2020

[5 rows x 29 columns]

In [ ]:
combined_df

,CUSTOMER,AREA,ISPRIVATEPERSON,DATE,HOUR_0,HOUR_1,HOUR_2,HOUR_3,HOUR_4,HOUR_5,...,HOUR_15,HOUR_16,HOUR_17,HOUR_18,HOUR_19,HOUR_20,HOUR_21,HOUR_22,HOUR_23,YEAR
0,1060598736,Kvarnholmen,Nej,2020-01-01,0.011,0.012,0.012,0.012,0.013,0.012,...,0.01,0.009,0.01,0.01,0.011,0.011,0.011,0.01,0.01,2020
1,1060598736,Kvarnholmen,Nej,2020-01-02,0.01,0.009,0.009,0.009,0.01,0.009,...,0.009,0.009,0.01,0.01,0.009,0.011,0.011,0.011,0.01,2020
2,1060598736,Kvarnholmen,Nej,2020-01-03,0.011,0.011,0.011,0.01,0.01,0.01,...,0.01,0.01,0.011,0.011,0.011,0.011,0.01,0.01,0.011,2020
3,1060598736,Kvarnholmen,Nej,2020-01-04,0.01,0.009,0.009,0.009,0.01,0.009,...,0.011,0.011,0.012,0.008,0.009,0.011,0.012,0.011,0.011,2020
4,1060598736,Kvarnholmen,Nej,2020-01-05,0.011,0.011,0.01,0.011,0.011,0.011,...,0.012,0.011,0.012,0.011,0.012,0.011,0.011,0.011,0.011,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4526138,2411311923,Malmen,Ja,2023-12-27,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023
4526139,2411311923,Malmen,Ja,2023-12-28,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023
4526140,2411311923,Malmen,Ja,2023-12-29,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023
4526141,2411311923,Malmen,Ja,2023-12-30,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023
4526142,2411311923,Malmen,Ja,2023-12-31,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023

## Data Cleaning and Pre-processing: 
    Check for missing or inconsistent data and decide how to handle it (e.g., imputation or removal).
    Ensure that all data types are correct (e.g., DATE should be a date type, HOUR_0 to HOUR_23 should be numeric).
    Convert categorical variables like ISPRIVATEPERSON into a numerical form that PCA can work with, using encoding methods like One-Hot Encoding or Label Encoding.
    Exclude non-numeric columns like CUSTOMER and AREA from PCA, or find a way to numerically encode them if they are relevant to your analysis.

In [ ]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /opt/homebrew/lib/python3.11/site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.6.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (3.3.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python3.11 -m pip install --upgrade pip

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Convert 'DATE' to datetime format
combined_df['DATE'] = pd.to_datetime(combined_df['DATE'])

# Convert 'HOUR_0' to 'HOUR_23' to numeric
hourly_columns = ['HOUR_' + str(i) for i in range(24)]
for col in hourly_columns:
    combined_df[col] = pd.to_numeric(combined_df[col], errors='coerce')

# Fill NaN values after coercion, if necessary
combined_df[hourly_columns] = combined_df[hourly_columns].fillna(0)

In [ ]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4526143 entries, 0 to 4526142
Data columns (total 29 columns):
 #   Column           Dtype
---  ------           -----
 0   CUSTOMER         int64
 1   AREA             object
 2   ISPRIVATEPERSON  object
 3   DATE             datetime64[ns]
 4   HOUR_0           float64
 5   HOUR_1           float64
 6   HOUR_2           float64
 7   HOUR_3           float64
 8   HOUR_4           float64
 9   HOUR_5           float64
 10  HOUR_6           float64
 11  HOUR_7           float64
 12  HOUR_8           float64
 13  HOUR_9           float64
 14  HOUR_10          float64
 15  HOUR_11          float64
 16  HOUR_12          float64
 17  HOUR_13          float64
 18  HOUR_14          float64
 19  HOUR_15          float64
 20  HOUR_16          float64
 21  HOUR_17          float64
 22  HOUR_18          float64
 23  HOUR_19          float64
 24  HOUR_20          float64
 25  HOUR_21          float64
 26  HOUR_22          float64
 27  HOUR_23          float64
 28  YEAR             int64
dtypes: datetime64[ns](1), float64(24), int64(2), object(2)
memory usage: 1001.4+ MB

In [ ]:
print(combined_df['ISPRIVATEPERSON'].unique())

['Nej' 'Ja' nan]

In [ ]:
unique_customers = combined_df['CUSTOMER'].nunique()
print(f"Number of unique CUSTOMER IDs: {unique_customers}")

Number of unique CUSTOMER IDs: 7508

In [ ]:
print(combined_df['CUSTOMER'].sample(5))

384836     1060881610
1205271    1060697119
2915138    1060599019
721736     1060866932
1528656    1060867193
Name: CUSTOMER, dtype: int64

In [ ]:
# Replace 'Stensˆ' with 'Stensö' in the 'AREA' column
combined_df['AREA'] = combined_df['AREA'].replace('Stensˆ', 'Stensö')

# Verify the change
unique_areas = combined_df['AREA'].unique()
print(f"Unique AREA values: {unique_areas}")

Unique AREA values: ['Kvarnholmen' 'Malmen' 'Berga' 'Stensö' 'Varvsholmen']

In [ ]:
print(combined_df['AREA'].sample(5))

2717866     Berga
1109040     Berga
3587676     Berga
2139269    Malmen
2662317    Stensö
Name: AREA, dtype: object

In [ ]:
combined_df

,CUSTOMER,AREA,ISPRIVATEPERSON,DATE,HOUR_0,HOUR_1,HOUR_2,HOUR_3,HOUR_4,HOUR_5,...,HOUR_15,HOUR_16,HOUR_17,HOUR_18,HOUR_19,HOUR_20,HOUR_21,HOUR_22,HOUR_23,YEAR
0,1060598736,Kvarnholmen,Nej,2020-01-01,0.011,0.012,0.012,0.012,0.013,0.012,...,0.010,0.009,0.010,0.010,0.011,0.011,0.011,0.010,0.010,2020
1,1060598736,Kvarnholmen,Nej,2020-01-02,0.010,0.009,0.009,0.009,0.010,0.009,...,0.009,0.009,0.010,0.010,0.009,0.011,0.011,0.011,0.010,2020
2,1060598736,Kvarnholmen,Nej,2020-01-03,0.011,0.011,0.011,0.010,0.010,0.010,...,0.010,0.010,0.011,0.011,0.011,0.011,0.010,0.010,0.011,2020
3,1060598736,Kvarnholmen,Nej,2020-01-04,0.010,0.009,0.009,0.009,0.010,0.009,...,0.011,0.011,0.012,0.008,0.009,0.011,0.012,0.011,0.011,2020
4,1060598736,Kvarnholmen,Nej,2020-01-05,0.011,0.011,0.010,0.011,0.011,0.011,...,0.012,0.011,0.012,0.011,0.012,0.011,0.011,0.011,0.011,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4526138,2411311923,Malmen,Ja,2023-12-27,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2023
4526139,2411311923,Malmen,Ja,2023-12-28,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2023
4526140,2411311923,Malmen,Ja,2023-12-29,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2023
4526141,2411311923,Malmen,Ja,2023-12-30,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2023
4526142,2411311923,Malmen,Ja,2023-12-31,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2023

## Create column 'One_Day_Power'

In [ ]:
# Ensure that all hourly columns are numeric
for col in hourly_columns:
    combined_df[col] = pd.to_numeric(combined_df[col], errors='coerce')

# Handle NaN values if there are any after coercion
combined_df[hourly_columns] = combined_df[hourly_columns].fillna(0)

# Calculate the sum of the hourly consumption for each record and create a new column 'One_Day_Power'
combined_df['One_Day_Power'] = combined_df[hourly_columns].sum(axis=1)

In [ ]:
print(combined_df[['One_Day_Power']].head())

   One_Day_Power
0          0.261
1          0.228
2          0.243
3          0.243
4          0.265

In [ ]:
combined_df

,CUSTOMER,AREA,ISPRIVATEPERSON,DATE,HOUR_0,HOUR_1,HOUR_2,HOUR_3,HOUR_4,HOUR_5,...,HOUR_16,HOUR_17,HOUR_18,HOUR_19,HOUR_20,HOUR_21,HOUR_22,HOUR_23,YEAR,One_Day_Power
0,1060598736,Kvarnholmen,Nej,2020-01-01,0.011,0.012,0.012,0.012,0.013,0.012,...,0.009,0.010,0.010,0.011,0.011,0.011,0.010,0.010,2020,0.261
1,1060598736,Kvarnholmen,Nej,2020-01-02,0.010,0.009,0.009,0.009,0.010,0.009,...,0.009,0.010,0.010,0.009,0.011,0.011,0.011,0.010,2020,0.228
2,1060598736,Kvarnholmen,Nej,2020-01-03,0.011,0.011,0.011,0.010,0.010,0.010,...,0.010,0.011,0.011,0.011,0.011,0.010,0.010,0.011,2020,0.243
3,1060598736,Kvarnholmen,Nej,2020-01-04,0.010,0.009,0.009,0.009,0.010,0.009,...,0.011,0.012,0.008,0.009,0.011,0.012,0.011,0.011,2020,0.243
4,1060598736,Kvarnholmen,Nej,2020-01-05,0.011,0.011,0.010,0.011,0.011,0.011,...,0.011,0.012,0.011,0.012,0.011,0.011,0.011,0.011,2020,0.265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4526138,2411311923,Malmen,Ja,2023-12-27,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2023,0.000
4526139,2411311923,Malmen,Ja,2023-12-28,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2023,0.000
4526140,2411311923,Malmen,Ja,2023-12-29,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2023,0.000
4526141,2411311923,Malmen,Ja,2023-12-30,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2023,0.000
4526142,2411311923,Malmen,Ja,2023-12-31,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,2023,0.000